name: Connector Validation

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: Validate connector strucure
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v22.2
        with:
          files: |           
            connectors/** 
      - name: List all changed files
        run: |
          isConnectorsChanged=false
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            isConnectorsChanged=true
          done           
      - name: Connectors validation
        run: |
          ids= (${{ steps.changed-files.outputs.all_changed_files }});
          echo $ids
          echo ${#ids[@]} -eq 0
          if [ ${#ids[@]} -eq 0 ]; then
            echo "No errors, hooray"
          else
            echo "Oops, something went wrong..."
          fi       
          if [ ${#ids[@]} -eq 0 ]; then
            echo "No updated connector"
          else            
            echo "INSIDE"
            cd ${{ github.workspace }}/scripts/
            id="${ids[@]}";
            go run . ${{ github.workspace }} connector.schema.json ${id// /" "}
            cd ${{ github.workspace }}
          fi    
